{% extends 'base.html.twig' %}

{% block title %}Профиль пользователя{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="card-title text-center">Мой профиль</h3>
                    <p class="card-text">Email: {{ email }}</p>
                    <p class="card-text">Роль: 
                        {% if 'ROLE_USER' in roles %}
                            Пользователь
                        {% elseif 'ROLE_SUPER_ADMIN' in roles %}
                            Админ
                        {% endif %}
                    </p>
                    <p class="card-text">Баланс: {{ balance }} руб.</p>
                    <div class="d-grid gap-2 mt-4">
                        <form action="{{ path('app_logout') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                            <button type="submit" class="btn btn-danger btn-lg">Выйти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
