<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Главная страница
			{% endblock %}
		</title>
	</head>
	<body>
		<nav>
			<a href="{{ path('app_course_index') }}">
				StudyOn
			</a>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>